{% extends 'base.html.twig' %}

{% block title %}Reservar - {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/reserva.css') }}">
{% endblock %}

{% block body %}
    <div class="reserva-container">
        <div class="reserva-card">
            <div class="reserva-info">
                <h1>Ingresá los datos de tu reserva</h1>
                <form method="POST" action="{{ path('reservar_vehiculo', {'vehiculo_id': vehiculo.id}) }}" class="formulario-reserva">
                    <label for="fecha_inicio">Fecha de inicio:</label>
                    <input type="date" id="fecha_inicio" name="fecha_inicio" required>

                    <label for="fecha_finalizacion">Fecha de finalización:</label>
                    <input type="date" id="fecha_finalizacion" name="fecha_finalizacion" required>

                    <label for="cantidad_personas">Cantidad de Personas:</label>
                    <input type="number" id="cantidad_personas" name="cantidad_personas" required>
                    <p><strong>Vehículo:</strong> {{ vehiculo.marca }} {{ vehiculo.modelo }}</p>
                    <p><strong>Valor Diario:</strong> ${{ vehiculo.valor }}</p>
                    <button type="submit">Reservar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
