{% extends 'base.html.twig' %}

{% block title %}Detalle - {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" rel="preload" href="{{ asset('css/detalle.css') }}">
{% endblock %}

{% block body %}
    <div class="detalle-container">
        <div class="detalle-card">
            <div class="detalle-image">
                <img src="{{ vehiculo.imagen }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}" class="car-image">
            </div>
            <div class="detalle-info">
                <h2>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h2>
                <p class="detalle">{{ vehiculo.detalle }}</p>
                <p><strong>Año:</strong> {{ vehiculo.year }}</p>
                <p><strong>Valor diario:</strong> ${{ vehiculo.valor }}</p>
                <a href="{{ path('reservar_vehiculo', {'vehiculo_id': vehiculo.id}) }}" class="button">Reservar</a>
            </div>
        </div>
    </div>
{% endblock %}
