{% extends 'base.html.twig' %}

{% block title %}Detalle - {{ vehiculo.marca }} {{ vehiculo.modelo }}{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" rel="preload" href="{{ asset('css/detalle_admin.css') }}">
{% endblock %}

{% block body %}
    <div class="detalle-container">
        <div class="detalle-card">
            <div class="detalle-image">
                <img src="{{ vehiculo.imagen }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}" class="car-image">
                <form method="post" action="{{ path('actualizar_vehiculo', {'id': vehiculo.id}) }}" class="form-image">
                    <label for="imagen">Nuevo link de imagen:</label>
                    <input type="url" name="imagen" id="imagen" value="{{ vehiculo.imagen }}">
                    <button type="submit" class="button">Cambiar Imagen</button>
                </form>
            </div>

            <div class="detalle-info">
                <form method="post" action="{{ path('actualizar_vehiculo', {'id': vehiculo.id}) }}">
                    <div class="form-group">
                        <label for="nombre">Nombre del Auto:</label>
                        <input type="text" name="nombre" id="nombre" value="{{ vehiculo.marca }} {{ vehiculo.modelo }}" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea name="descripcion" id="descripcion" rows="10" required>{{ vehiculo.detalle }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="anio">Año del Vehículo:</label>
                        <input type="number" name="anio" id="anio" value="{{ vehiculo.anio }}" required>
                    </div>

                    <div class="form-group">
                        <label for="valor">Valor del Vehículo:</label>
                        <input type="number" name="valor" id="valor" value="{{ vehiculo.valor }}" required>
                    </div>

                    <button type="submit" class="button-detail">Confirmar cambios</button>
                </form>

                <form method="post" action="{{ path('eliminar_vehiculo', {'id': vehiculo.id}) }}" style="display:inline;">
                    <button type="submit" class="button-detail delete-button">Eliminar Vehículo</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
