{% extends 'base.html.twig' %}

{% block title %}CarRentals{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" rel="preload" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    
    <div class="home-container">
        <div class="header-car">        
            {% if is_granted('ROLE_ADMIN') %}
                <h1 class="title">Gestioná tus vehículos en alquiler</h1>
                    <a href="{{ path('agregar_vehiculo') }}" class="button-add-auto">
                        <img src="{{ asset('images/add-car.webp') }}" alt="Agregar auto" class="image-agregar">
                    </a>
            {% else %}
                <h1 class="title">Elegí que auto querés reservar</h1>
            {% endif %}
        </div>

        <div class="vehiculos-container">
            {% for vehiculo in vehiculos %}
                <div class="vehiculo-card">
                    <img src="{{ vehiculo.imagen }}" alt="{{ vehiculo.marca }} {{ vehiculo.modelo }}" class="vehiculo-image">
                    <div>
                        <h3>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
                        <p>{{ vehiculo.detalle|slice(0, 50) ~ '...' }}</p>
                        <p>Año: {{ vehiculo.year }}</p>
                        <p>Valor: ${{ vehiculo.valor }}</p>
                        <a href="{{ path('detalle_vehiculo', { id: vehiculo.id }) }}" class="button">Ver detalle</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
